* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

p {
  font-family: 'Mulish', sans-serif;
}

.font-caramel {
  font-family: 'Caramel', cursive;
}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

hr {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.showcaseCard:hover{
  z-index: 4000;
}

.services li::before{
    content: "✔ ";
    font-size: 4vmin;
    text-indent: -2em;
}