* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

p {
  font-family: 'Mulish', sans-serif;
}

.font-caramel {
  font-family: 'Caramel', cursive;
}

.font-mulish {
  font-family: 'Mulish', sans-serif;
}

hr {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.animButton {
  border-radius: 4px;
  background-color: #141212;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px;
}

.animButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.animButton:hover span {
  padding-right: 25px;
}

.animButton:hover span:after {
  opacity: 1;
  right: 0;
}
